<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf in action</title>
</head>
<body>
<div th:replace="~{fragments/header::header}"></div>
<h1 th:text="${userModel.title}"></h1>
<h3><a href="/users/form">添加用户</a></h3>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>name</td>
        <td>email</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userModel.userList.size()} eq 0">
        <td colspan="3">没有用户信息</td>
    </tr>
    <tr th:each="user : ${userModel.userList}">
        <td th:text="${user.id}"></td>
        <td><a th:href="@{'/users/' + ${user.id}}" th:text="${user.name}"></a></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>
</table>
<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>